<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>maincontroller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>maincontroller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>maincontroller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>maincontroller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>maincontroller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>maincontroller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>maincontroller.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>maincontroller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>maincontroller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCategoryController</servlet-name>
        <servlet-class>maincontroller.FilterCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>maincontroller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>maincontroller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantity</servlet-name>
        <servlet-class>maincontroller.UpdateCartQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>maincontroller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>maincontroller.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitController</servlet-name>
        <servlet-class>maincontroller.SubmitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>maincontroller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitController1</servlet-name>
        <servlet-class>maincontroller.SubmitController1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/deatail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCategoryController</servlet-name>
        <url-pattern>/filter-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantity</servlet-name>
        <url-pattern>/update-quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitController</servlet-name>
        <url-pattern>/SubmitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitController1</servlet-name>
        <url-pattern>/thanks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeController</welcome-file>
    </welcome-file-list>
</web-app>
